.header {
    height: $header-height;
    background-image: $color-primary;

    &__navbar {
        display: flex;
        justify-content: space-between;
        &--list {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            align-items: center;
        }
        &--item {
            display: inline-block;
            margin: 0 0.8rem;
            position: relative;
            z-index: 1;
            &-has-qr:hover .header__qr {
                display: block;
            }
            &-has-notify:hover .header__notify {
                display: block;
                // z-index: 1000000;
            }
            &-separate::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -0.9rem;
                transform: translateY(-50%);
                display: block;
                height: 1.4rem;
                border-left: 2px solid #fb9086;
            }                      
        }
        &--item,
        &--link {
            font-size: 1.4rem;
            color: $white-color;
            text-decoration: none;
            font-weight: 300;
        }

        &--item:hover,
        &--link:hover {
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
        }
        &--link {
            &-bold {
                font-weight: 400;
            }
        }
        &--icon-link {
            color: $white-color;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 300;
            margin-left: 0.8rem;
        }
        &--user {
                display: flex;
                justify-items: center;
                position: relative;
                &:hover .header__navbar--user-menu {
                    display: block;
                }
                &-img {
                    height:22px;
                    width: 22px;
                    border-radius:50%;
                    border: 1px solid rgba(0, 0, 0, 0.1)
                }
                &-name {
                    margin-left: 8px;
                    line-height:2.2rem;
                }
                &-menu {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: $white-color;
                    border-radius: 2px;
                    width: 160px;
                    list-style-type: none;
                    padding: 8px 0;
                    box-shadow: 0 2px 10px rgba($black-color, 0.5);
                    top: calc(100% + 6px);
                    display: none;
                    animation: fadeIn ease-in 0.3s;
                    transition: all 0.3s;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -29px;
                        right: 4px;
                        border-style: solid;
                        border-width: 20px 30px;
                        border-color: transparent transparent $white-color transparent;
                    
                    }
                    &::after {
                        content: '';
                        width:56%;
                        right:0;
                        height:10px;
                        position: absolute;
                        top: -8px;
                        // background-color: red;
                    }
                    
                }
                
                  &-item {
                        a {
                            text-decoration: none;
                            color: $text-color;
                            font-size: 1.4rem;
                            padding: 4px 16px;
                            display: block;
                            
                        }
                        a:hover {
                                background-color: #fafafa;
                            }
                            &-sparate {
                                border-top: 1px solid #ccc;
                            }
                    }
            }
    }
    &__qr {
        background-color: $white-color;
        width: 19rem;
        position: absolute;
        top: 118%;
        left: 0%;
        padding: 0.8rem;
        border-radius: 0.2rem;
        display: none;
        animation: fadeIn ease-in 0.3s;
        z-index: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        &--img {
            width: 100%;
        }
        &--apps {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
        }
        &--link:nth-child(1) {
            margin-left: 1.1rem;
        }
        &--link:nth-child(2) {
            margin-right: 1.1rem;
        }
        &--download-img {
            height: 1.5rem;
        }
    }
    &__qr::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2rem;
        left: 0;
        top: -2rem;
        display: block;
    }
    &__mobile-search {
        padding: 0 12px;
        display: none;
    }
    &__mobile-search i {
        font-size: 2.6rem;
        color: $white-color;
    }
    &__with--search {
        height: $header-with-search-height;
        display: flex;
        align-items: center;
        margin: 0 8px;
    }
    &__logo {
        width: 20rem;
        &--img {
            width: 16.2rem;
       }
       &--link {
           text-decoration: none;
           color: transparent;
           line-height: 0;
           display: block;
       }
    }
    &__search {
        height: 4rem;
        flex: 1;
        border-radius: 2px;
        background-color: $white-color;
        display: flex;
        align-items: center;
        &--input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            font-size: 1.5rem;
            color: $text-color;
            padding: 0 8px;
            border-radius: 3px;
            &:focus ~ .header__search--history {
                display: block;
            }
            &-wrap {
                flex: 1;
                height: 100%;
                position: relative;
            }
        }
        &--select {
            border-left: 1px solid $border-color;
            padding-left: 16px;
            position: relative;

            &-label {
                font-size: 1.4rem;
                color: $text-color;
                cursor: pointer;
            }
            &-icon {
                font-size: 1.4rem;
                color: $text-color;
                margin: 0 16px 0 8px;
                position: relative;
                top: 2px;
            }
            &:hover .header__search--option {
                display: block;
            }
        }
        &--btn {
            border: none;
            background-color: $color-primary-text;
            height: 34px;
            border-radius: 3px;
            margin-right: 6px;
            width: 60px;
            &-icon {
                font-size: 1.6rem;
                color: #fff;
            }
        }
        &--btn:hover {
            background-color: #ec857c;
            cursor: pointer;
        }
        &--option {
            position: absolute;
            right: 0;
            top: 100%;
            box-shadow: 0 0 6px #ccc;
            padding-left: 0;
            border-radius: 3px;
            display: none;
            padding-top: 5px;
            animation: fadeIn ease-in 0.3s;
            z-index: 1;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 10px;
                position: absolute;
                top: -10px;
            }
            &-item {
                list-style: none;
                width: 125px;
                background-color: $white-color;
                padding: 8px;
                overflow: hidden;

                &--active i {
                    display: inline-block;
                }
                span {
                    font-size: 1.4rem;
                    color: $text-color;
                    margin-left: 8px;
                }
                i {
                    font-size: 1.2rem;
                    color: $color-primary-text;
                    margin: 0 4px 0 12px;
                    display: none;
                }
                &:hover {
                    background-color: #fafafa;
                    cursor: pointer;
                }
                &:first-child {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
                &:last-child {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }
        &--history {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            width: calc(100% - 1.6rem);
            background-color: $white-color;
            border-radius: 3px;
            box-shadow: 0 0 3px #ccc;
            display: none;
            overflow: hidden;
            z-index: 10000;
            &-heading {
                margin: 8px 12px;
                font-size: 1.4rem;
                color: #999;
                font-weight: 400;
            }
            &-list {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
            }
            &-item {
                height: 38px;
                padding: 0 12px;
                &:hover {
                    background-color: #fafafa;
                }
            }
            &-link {
                text-decoration: none;
                font-size: 1.3rem;
                color: $text-color;
                line-height: 38px;
                display: block;
            }
        }
    }
    &__cart {
        width: 15rem;
        text-align: center;

        &--view-cart {
            float: right;
            line-height: 36px;
            margin: 0 12px 12px 0;
            background-color: $color-primary-text;
            color: $white-color;
            text-align: center;
            &:hover {
                background-color: rgba($color-primary-text, 0.6);
            }
        }
        &--heading {
            text-align: left;
            margin: 12px 0 8px 8px;
            font-size: 1.4rem;
            color: #ccc;
            font-weight: 300;
        }
        &--list-item {
             padding-left: 0;
             max-height: 50vh;
             overflow-x: auto;
        }
        &--item {
            display: flex;
            align-items: center;
            &:hover {
                background-color: #f8f8f8;
                cursor: pointer;
            }
            img {
                width: 42px;
                margin: 12px;
                border: 1px solid #e8e8e8;
            }
            &-info {
                width: 100%;
                margin-right: 12px;
            }
            &-head {
                display: flex;
                justify-content: space-between;
            }
            &-name {
                font-size: 1.4rem;
                font-weight: 400;
                color: $text-color;
                margin-top: 0;
                margin-bottom: 0;
                max-height: 4rem;
                line-height:2rem;
                overflow: hidden;
                flex: 1;
                text-align: left;
                padding-right: 16px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            &-price {
                font-size: 1.4rem;
                font-weight: 400;
                color: $color-primary-text;
            }
            &-multiply {
                font-size: 1rem;
                color: #757575;
                margin: 0 4px;
            }
            &-quantity {
                font-size: 1.2rem;
                color: #575454;
            }
            &-body {
                display: flex;
                justify-content: space-between;
                color: #575454;
                font-size: 1.3rem;
                font-weight: 300;
            }
            &-desc {
                margin-top: 7px;
            }
            &-remove {
                font-size: 1.4rem;
                font-weight: 300;
                cursor: pointer;
                margin-top: 7px;
                &:hover {
                    color: $color-primary-text;
                }
            }
        }
        &--wrap {
            position: relative;
            display: inline-block;
            padding: 0 8px;
            cursor: pointer;

            &:hover .header__cart--list {
                display: block;
            }
        }
        &--icon {
            color: $white-color;
            font-size: 2.4rem;
        }
        &--list {
            position: absolute;
            top: calc(100% + 10px);
            right: -3px;
            background-color: $white-color;
            width: 400px;
            border-radius: 2px;
            box-shadow: 0 2px 10px #ccc;
            display: none;
            animation: fadeIn ease-in 0.3s;
            transition: all 0.3s;
            cursor: default;
            z-index: 1;
            &::after {
                cursor: pointer;
                content: "";
                display: block;
                position: absolute;
                top: -30px;
                right: 4px;
                border-width: 20px 20px;
                border-style: solid;
                border-color: transparent transparent $white-color transparent;
            }
            &-no-cart {
                padding: 28px 0;
                &-msg {
                    font-size: 1.4rem;
                    margin-top: 14px;
                    color: $text-color;
                    display: none;
                }
            }
            &-no-cart-img {
                width: 54%;
                display: none;
            }
            // have product
        }
        &-notice {
            background-color: $white-color;
            position: absolute;
            padding: 1px 8px;
            line-height: 1.4rem;
            font-size: 1.4rem;
            border-radius: 15px;
            color: $color-primary-text;
            border: 2px solid #ee4d2d;
            top: -12px;
            right: -10px;
        }
    }
    &__sort{
        &-bar {
            position: fixed;
            // top: $header-height;
            left: 0;
            right: 0;
            background-color: $white-color;
            padding-left: 0;
            justify-content: space-between;
            height: $header-sort-bar-height;
            margin: 0;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            display: none;
        }
        &-item {
            list-style: none;
            flex: 1;
            text-align: center;        
            
            &--active .header__sort-link {
                color: $color-primary-text;
            } 
        }
        &-link {
            text-decoration: none;
            font-size: 1.4rem;
            color: $text-color;
            height: 100%;
            line-height: $header-sort-bar-height;
            position: relative;
            text-align: center;
            display: block;
            width: 100%;
            &:first-child .header__sort-link::before {
                display: none;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 60%;
                border-left: 1px solid #e5e5e5;
            }
           
        }
    }
}
.header__checkbox-input:checked ~ .header__search {
    display: flex;
}
.header__cart--list-no-cart .header__cart--list-no-cart-img,
.header__cart--list-no-cart .header__cart--list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



