.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 12px 48px;
    min-width: 120px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    /* color: #fff; */
}

.btn:hover {
    opacity: 0.6;
}
.btn + .btn {
    margin-left: 16px;
}
.btn--success {
    background-color: green;
}
.btn--warn {
    background-color: yellow;
}
.btn--danger {
    background-color: red;
}
.btn--disable {
    opacity: 0.5  !important;
    cursor: default;
}
.btn--size-l {
    padding: 16px 56px;
}
.btn--size-s {
    padding: 8px 32px;
}
.btn.btn--primary {
    background-color: #eb3d2e;
    color: #fff;
    }
 .btn.auth-form__controls-back {
        background-color: #666; }
.btn.btn--with-icon {
    color: #eb3d2e;
}