.home-product{
    margin-bottom: 10px;
&-item {
    background-color: $white-color;
    margin-top: 10px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    will-change: transform;
    display: block;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        transform: translate(0, -10px);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    }
    &__img {
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position:top center;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

    }
    &__name {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8rem;
        margin: 10px 10px 6px;
        color: $text-color;
        height: 3.6rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        // text-overflow: ellipsis;
        // white-space: nowrap;
    }
    &__price {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        &-old {
            font-size: 1.4rem;
            color:#666;
            text-decoration: line-through;
            margin-left: 10px;
        }
        &-current {
            font-size: 1.6rem;
            color: $color-primary-text;
            margin-left: 10px;
        }
    }
    &__action {
        display: flex;
        justify-content: space-between;
        margin: 6px 10px 0;
        cursor: pointer;
        &-link {
            font-size: 1.4rem;
          
        }
        &-rating {
            color: rgba(0, 0, 0, 0.1);
            font-size: 0.9rem;      
            margin-left: auto;
        }
        &-sold {
            font-size: 1.2rem;
            color: $text-color;
            margin-left: 6px;
        }
    }
    &__origin {
        display: flex;
        justify-content: space-between;
        margin:  3px 10px 0;
        font-size: 1.2rem;
        color: #585959;
        font-weight: 300;
       
    }
   
  
    &__gold {
        color: $star-gold-color;
    }
    &__favorite {
        position: absolute;
        top: 10px;
        left: -4px;
        color:$color-primary-text;
        background-color: currentColor;
        font-size: 1rem;    
        font-weight: 500;
        line-height: 1.6rem;
        border-top-right-radius:2px;
        border-bottom-right-radius:2px;
        padding-right: 4px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            border-top: 3px solid currentColor;
            border-left: 3px solid transparent;
            filter: brightness(60%);
        }
        span {
            color: $white-color;
        }
        &-icon {
            font-size: 0.9rem;
            margin-left: 5px;
            margin-right: 3px;
            color: $white-color;
        }
    }
    &__sale-off {
        width: 4rem;
        height: 3.6rem;
        background-color: rgba(#FFD840, 0.94);
        position: absolute;
        top: 0;
        right: 0;
        clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 50% 91%, 0 100%, 0 0);
        text-align: center;
        border-top-right-radius: 2px;
        &-percent {
            font-size: 1.25rem;
            color: $color-primary-text;
            display: block;
            margin-top: 4px;
            font-weight: 600;
            line-height: 1.3rem;
        }   
        &-label {
            text-transform: uppercase;
            color: $white-color;
            font-size: 1.3rem;
            font-weight: 500;
            display: block;
            line-height: 1.4rem;
            // margin-bottom: 10px;
        }
    }
}
&__pagination {
    margin: 48px 0 32px 0;
}
}
.my-home-product-item {
    display: none;
}

i.home-product-item__action-like-icon-fill {
    display: none;
}
.home-product-item__action-like--liked .home-product-item__action-like-icon-fill {
    display: inline-block;
    color: #ee3f3f;
}
.home-product-item__action-like--liked .home-product-item__action-like-icon-empty {
    display: none;
}